<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>000</key>
	<string>The only source of knowledge is experience.</string>
	<key>001</key>
	<string>Life is like riding a bicycle. To keep your balance, you must keep moving.</string>
	<key>002</key>
	<string>Kindness is the language which the deaf can hear and the blind can see.</string>
	<key>003</key>
	<string>Live as if you were to die tomorrow. Learn as if you were to live forever.</string>
	<key>004</key>
	<string>You must be the change you wish to see in the world.</string>
	<key>005</key>
	<string>Hell is empty and all the devils are here.</string>
	<key>006</key>
	<string>Attitude is a little thing that makes a big difference.</string>
	<key>007</key>
	<string>Success consists of going from failure to failure without loss of enthusiasm.</string>
	<key>008</key>
	<string>If you want to shine like a sun, first burn like a sun.</string>
	<key>009</key>
	<string>Poetry comes from the highest happiness or the deepest sorrow.</string>
	<key>010</key>
	<string>It does not matter how slowly you go as long as you do not stop.</string>
	<key>011</key>
	<string>The strength of a nation derives from the integrity of the home.</string>
	<key>012</key>
	<string>Whatever you are, be a good one.</string>
	<key>013</key>
	<string>Be sure you put your feet in the right place, then stand firm.</string>
	<key>014</key>
	<string>I have a dream that my four little children will one day live in a nation where they will not be judged by the color of their skin, but by the content of their character.</string>
	<key>015</key>
	<string>We must accept finite disappointment, but never lose infinite hope.</string>
	<key>016</key>
	<string>The crisis of today is the joke of tomorrow.</string>
	<key>017</key>
	<string>Human history in essence is the history of ideas.</string>
	<key>018</key>
	<string>Weeds are flowers too, once you get to know them.</string>
	<key>019</key>
	<string>If you only have a hammer, you tend to see every problem as a nail.</string>
	<key>020</key>
	<string>All money is a matter of belief.</string>
	<key>021</key>
	<string>Science is the great antidote to the poison of enthusiasm and superstition.</string>
	<key>022</key>
	<string>Happiness is nothing more than good health and a bad memory.</string>
	<key>023</key>
	<string>The first step in the evolution of ethics is a sense of solidarity with other human beings.</string>
	<key>024</key>
	<string>Facts do not cease to exist because they are ignored.</string>
	<key>025</key>
	<string>To travel is to discover that everyone is wrong about other countries.</string>
	<key>026</key>
	<string>Behind every great man is a woman rolling her eyes.</string>
	<key>027</key>
	<string>Do not take life too seriously. You will never get out of it alive.</string>
	<key>028</key>
	<string>Always remember that you are absolutely unique. Just like everyone else.</string>
	<key>029</key>
	<string>Only I can change my life. No one can do it for me.</string>
	<key>030</key>
	<string>With the new day comes new strength and new thoughts.</string>
	<key>031</key>
	<string>In order to succeed, we must first believe that we can.</string>
	<key>032</key>
	<string>It always seems impossible until it&apos;s done.</string>
	<key>033</key>
	<string>If you can dream it, you can do it.</string>
	<key>034</key>
	<string>The past cannot be changed. The future is yet in your power.</string>
	<key>035</key>
	<string>Problems are not stop signs, they are guidelines.</string>
	<key>036</key>
	<string>Start where you are. Use what you have. Do what you can.</string>
	<key>037</key>
	<string>Keep your eyes on the stars, and your feet on the ground.</string>
	<key>038</key>
	<string>Don&apos;t watch the clock; do what it does. Keep going.</string>
	<key>039</key>
	<string>A journey of a thousand miles must begin with a single step.</string>
	<key>040</key>
	<string>Quality is not an act, it is a habit.</string>
	<key>041</key>
	<string>When something is important enough, you do it even if the odds are not in your favor.</string>
	<key>042</key>
	<string>If you fell down yesterday, stand up today.</string>
	<key>043</key>
	<string>The best way to predict your future is to create it.</string>
	<key>044</key>
	<string>Either you run the day or the day runs you.</string>
	<key>045</key>
	<string>The way to get started is to quit talking and begin doing.</string>
	<key>046</key>
	<string>Friends show their love in times of trouble, not in happiness.</string>
	<key>047</key>
	<string>A good teacher can inspire hope, ignite the imagination, and instill a love of learning.</string>
	<key>048</key>
	<string>Love is the only force capable of transforming an enemy into a friend.</string>
	<key>049</key>
	<string>The most important thing in the world is family and love.</string>
	<key>050</key>
	<string>Love all, trust a few, do wrong to none.</string>
	<key>051</key>
	<string>The future belongs to those who prepare for it today.</string>
	<key>052</key>
	<string>That’s one small step for a man, one giant leap for mankind.</string>
	<key>053</key>
	<string>May I have your name, please?</string>
	<key>054</key>
	<string>Who am I talking to?</string>
	<key>055</key>
	<string>Genius is one percent inspiration, ninety-nine percent perspiration.</string>
	<key>056</key>
	<string>I&apos;m gonna make him an offer he can&apos;t refuse.</string>
	<key>057</key>
	<string>May the Force be with you.</string>
	<key>058</key>
	<string>What we&apos;ve got here is failure to communicate.</string>
	<key>059</key>
	<string>Love means never having to say you&apos;re sorry.</string>
	<key>060</key>
	<string>I think this is the beginning of a beautiful friendship.</string>
	<key>061</key>
	<string>Show me the money!</string>
	<key>062</key>
	<string>After all, tomorrow is another day!</string>
	<key>063</key>
	<string>Round up the usual suspects.</string>
	<key>064</key>
	<string>I&apos;ll be back.</string>
	<key>065</key>
	<string>If you build it, he will come.</string>
	<key>066</key>
	<string>Houston, we have a problem.</string>
	<key>067</key>
	<string>Keep your friends close, but your enemies closer.</string>
	<key>068</key>
	<string>Oh yes, the past can hurt. But you can either run from it, or learn from it.</string>
	<key>069</key>
	<string>Why are you trying so hard to fit in when you were born to stand out?</string>
	<key>070</key>
	<string>Life moves pretty fast. If you don’t stop and look around once in a while, you could miss it.</string>
	<key>071</key>
	<string>You can’t live your life for other people.</string>
	<key>072</key>
	<string>Let me make an assumption for the sake of this argument.</string>
	<key>073</key>
	<string>We are who we choose to be.</string>
	<key>074</key>
	<string>Don’t let anyone ever make you feel like you don’t deserve what you want.</string>
	<key>075</key>
	<string>I don’t regret the things I’ve done, but those I did not do.</string>
	<key>076</key>
	<string>It is not our abilities that show what we truly are… it is our choices.</string>
	<key>077</key>
	<string>You cannot live your life to please others. The choice must be yours.</string>
	<key>078</key>
	<string>When our memories outweigh our dreams, it is then that we become old.</string>
	<key>079</key>
	<string>All we have to decide is what to do with the time that is given to us.</string>
	<key>080</key>
	<string>It’s what you do right now that makes a difference.</string>
	<key>081</key>
	<string>Good morning. How are you?</string>
	<key>082</key>
	<string>Good afternoon. Did you have your lunch?</string>
	<key>083</key>
	<string>Good evening. Still going?</string>
	<key>084</key>
	<string>See you tomorrow.</string>
	<key>085</key>
	<string>Have a nice weekend.</string>
	<key>086</key>
	<string>Keep calm and carry on.</string>
	<key>087</key>
	<string>Winners never quit, and quitters never win.</string>
	<key>088</key>
	<string>You’ll never find a rainbow if you’re looking down.</string>
	<key>089</key>
	<string>Did you have a chance to look at my report?</string>
	<key>090</key>
	<string>I want you to review my report and give me any feedback by tomorrow noon.</string>
	<key>091</key>
	<string>Let&apos;s meet and talk about this issue at three PM.</string>
	<key>092</key>
	<string>Are you interested in coming with me?</string>
	<key>093</key>
	<string>I missed my train, I will be late.</string>
	<key>094</key>
	<string>I don&apos;t understand, could you say it again?</string>
	<key>095</key>
	<string>Is it such a good idea?</string>
	<key>096</key>
	<string>I missed the point. What was that?</string>
	<key>097</key>
	<string>I am very excited to show this to you.</string>
	<key>098</key>
	<string>What happens if we decide to move ahead?</string>
	<key>099</key>
	<string>Something magical is happening here.</string>
	<key>100</key>
	<string>The greatest glory in living lies not in never falling, but in rising every time we fall.</string>
	<key>101</key>
	<string>If you look at what you have in life, you&apos;ll always have more. If you look at what you don&apos;t have in life, you&apos;ll never have enough.</string>
	<key>102</key>
	<string>Life is what happens when you&apos;re busy making other plans.</string>
	<key>103</key>
	<string>Spread love everywhere you go. Let no one ever come to you without leaving happier.</string>
	<key>104</key>
	<string>When you reach the end of your rope, tie a knot in it and hang on.</string>
	<key>105</key>
	<string>Don&apos;t judge each day by the harvest you reap but by the seeds that you plant.</string>
	<key>106</key>
	<string>Tell me and I forget. Teach me and I remember. Involve me and I learn.</string>
	<key>107</key>
	<string>The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</string>
	<key>108</key>
	<string>It is during our darkest moments that we must focus to see the light.</string>
	<key>109</key>
	<string>Whoever is happy will make others happy too.</string>
	<key>110</key>
	<string>Do not go where the path may lead, go instead where there is no path and leave a trail.</string>
	<key>111</key>
	<string>You will face many defeats in life, but never let yourself be defeated.</string>
	<key>112</key>
	<string>In the end, it&apos;s not the years in your life that count. It&apos;s the life in your years.</string>
	<key>113</key>
	<string>Never let the fear of striking out keep you from playing the game.</string>
	<key>114</key>
	<string>Life is either a daring adventure or nothing at all.</string>
	<key>115</key>
	<string>Many of life&apos;s failures are people who did not realize how close they were to success when they gave up.</string>
	<key>116</key>
	<string>You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose.</string>
	<key>117</key>
	<string>Life is never fair, and perhaps it is a good thing for most of us that it is not.</string>
	<key>118</key>
	<string>The only impossible journey is the one you never begin.</string>
	<key>119</key>
	<string>In this life we cannot do great things. We can only do small things with great love.</string>
	<key>120</key>
	<string>The purpose of our lives is to be happy.</string>
	<key>121</key>
	<string>You only live once, but if you do it right, once is enough.</string>
	<key>122</key>
	<string>Do not let making a living prevent you from making a life.</string>
	<key>123</key>
	<string>Keep smiling, because life is a beautiful thing and there&apos;s so much to smile about.</string>
	<key>124</key>
	<string>In three words I can sum up everything I&apos;ve learned about life: it goes on.</string>
	<key>125</key>
	<string>Your time is limited, so don&apos;t waste it living someone else&apos;s life. Don&apos;t be trapped by dogma -- which is living with the results of other people&apos;s thinking.</string>
	<key>126</key>
	<string>Success is not final; failure is not fatal: It is the courage to continue that counts.</string>
	<key>127</key>
	<string>Success usually comes to those who are too busy to be looking for it.</string>
	<key>128</key>
	<string>If you really look closely, most overnight successes took a long time.</string>
	<key>129</key>
	<string>The secret of success is to do the common thing uncommonly well.</string>
	<key>130</key>
	<string>I find that the harder I work, the more luck I seem to have.</string>
	<key>131</key>
	<string>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</string>
	<key>132</key>
	<string>The only limit to our realization of tomorrow will be our doubts of today.</string>
	<key>133</key>
	<string>Always bear in mind that your own resolution to success is more important than any other one thing.</string>
	<key>134</key>
	<string>You know you are on the road to success if you would do your job and not be paid for it.</string>
	<key>135</key>
	<string>If you genuinely want something, don&apos;t wait for it -- teach yourself to be impatient.</string>
	<key>136</key>
	<string>The only place where success comes before work is in the dictionary.</string>
	<key>137</key>
	<string>If you are not willing to risk the usual, you will have to settle for the ordinary.</string>
	<key>138</key>
	<string>Before anything else, preparation is the key to success.</string>
	<key>139</key>
	<string>I have learned over the years that when one&apos;s mind is made up, this diminishes fear.</string>
	<key>140</key>
	<string>I alone cannot change the world, but I can cast a stone across the water to create many ripples.</string>
	<key>141</key>
	<string>The only person you are destined to become is the person you decide to be.</string>
	<key>142</key>
	<string>Believe you can and you&apos;re halfway there.</string>
	<key>143</key>
	<string>I&apos;ve learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.</string>
	<key>144</key>
	<string>Winning isn&apos;t everything, but wanting to win is.</string>
	<key>145</key>
	<string>The most difficult thing is the decision to act, the rest is merely tenacity.</string>
	<key>146</key>
	<string>Everything you&apos;ve ever wanted is on the other side of fear.</string>
	<key>147</key>
	<string>You may be disappointed if you fail, but you are doomed if you don&apos;t try.</string>
	<key>148</key>
	<string>Life is 10% what happens to me and 90% of how I react to it.</string>
	<key>149</key>
	<string>When everything seems to be going against you, remember that the airplane takes off against the wind, not with it.</string>
	<key>150</key>
	<string>Dreaming, after all, is a form of planning.</string>
	<key>151</key>
	<string>You know you’re in love when you can’t fall asleep because reality is finally better than your dreams.</string>
	<key>152</key>
	<string>When one door of happiness closes, another opens; but often we look so long at the closed door that we do not see the one which has been opened for us.</string>
	<key>153</key>
	<string>Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do.</string>
	<key>154</key>
	<string>A successful man is one who can lay a firm foundation with the bricks others have thrown at him.</string>
	<key>155</key>
	<string>I can’t give you a sure-fire formula for success, but I can give you a formula for failure: try to please everybody all the time.</string>
	<key>156</key>
	<string>Let us always meet each other with smile, for the smile is the beginning of love.</string>
	<key>157</key>
	<string>Challenges are what make life interesting and overcoming them is what makes life meaningful.</string>
	<key>158</key>
	<string>Remember that the happiest people are not those getting more, but those giving more.</string>
	<key>159</key>
	<string>If you want to live a happy life, tie it to a goal, not to people or things.</string>
	<key>160</key>
	<string>Success is just a war of attrition. Sure, there’s an element of talent you should probably possess. But if you just stick around long enough, eventually something is going to happen.</string>
	<key>161</key>
	<string>The opposite of love is not hate; it’s indifference.</string>
	<key>162</key>
	<string>A friend is someone who gives you total freedom to be yourself.</string>
	<key>163</key>
	<string>The No. 1 reason people fail in life is because they listen to their friends, family, and neighbors.</string>
	<key>164</key>
	<string>Success is how high you bounce when you hit bottom.</string>
	<key>165</key>
	<string>If you don’t design your own life plan, chances are you’ll fall into someone else’s plan. And guess what they have planned for you? Not much.</string>
	<key>166</key>
	<string>Life is like a box of chocolates. You never know what you’re going to get.</string>
	<key>167</key>
	<string>Yesterday is history, tomorrow is a mystery, today is a gift of God, which is why we call it the present.</string>
	<key>168</key>
	<string>Life isn’t about finding yourself. Life is about creating yourself.</string>
	<key>169</key>
	<string>The person who reads too much and uses his brain too little will fall into lazy habits of thinking.</string>
	<key>170</key>
	<string>Better to have loved and lost, than to have never loved at all.</string>
	<key>171</key>
	<string>Every child is an artist, the problem is staying an artist when you grow up.</string>
	<key>172</key>
	<string>Have no fear of perfection, you’ll never reach it.</string>
	<key>173</key>
	<string>Life is not a problem to be solved, but a reality to be experienced.</string>
	<key>174</key>
	<string>Be yourself; everyone else is already taken.</string>
	<key>175</key>
	<string>What you do speaks so loudly that I cannot hear what you say.</string>
	<key>176</key>
	<string>Be happy for this moment. This moment is your life.</string>
	<key>177</key>
	<string>People are just as happy as they make up their minds to be.</string>
	<key>178</key>
	<string>The power of imagination makes us infinite.</string>
	<key>179</key>
	<string>Doing the best at this moment puts you in the best place for the next moment.</string>
	<key>180</key>
	<string>Stay hungry, stay foolish.</string>
	<key>181</key>
	<string>Little by little, one travels far.</string>
	<key>182</key>
	<string>Life is a flower of which love is the honey.</string>
	<key>183</key>
	<string>Ask not what your country can do for you, but what you can do for your country.</string>
	<key>184</key>
	<string>The future belongs to those who believe in the beauty of their dreams.</string>
	<key>185</key>
	<string>Education is the most powerful weapon which you can use to change the world.</string>
	<key>186</key>
	<string>Big Brother is watching you.</string>
	<key>187</key>
	<string>Better to build a bridge than a wall.</string>
	<key>188</key>
	<string>Don’t count the days, make the days count.</string>
	<key>189</key>
	<string>We need fantasy to survive reality.</string>
	<key>190</key>
	<string>It’s fun to do the impossible.</string>
	<key>191</key>
	<string>Those who dare to fail miserably can achieve greatly.</string>
	<key>192</key>
	<string>Never doubt yourself. Never change who you are. Don’t care what people think and just go for it.</string>
	<key>193</key>
	<string>I like criticism. It makes you strong.</string>
	<key>194</key>
	<string>We don’t want to tell our dreams. We want to show them.</string>
	<key>195</key>
	<string>If I have seen further than others, it is by standing upon the shoulders of giants.</string>
	<key>196</key>
	<string>One day, in retrospect, the years of struggle will strike you as the most beautiful.</string>
	<key>197</key>
	<string>Always forgive your enemies; nothing annoys them so much.</string>
	<key>198</key>
	<string>A lion doesn’t concern himself with the opinions of the sheep.</string>
	<key>199</key>
	<string>Once you’ve accepted your flaws, no one can use them against you.</string>
</dict>
</plist>
